body{
    text-align: inherit;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.card{
    padding-left: 0;
    padding-right: 0;
}

.custom-control.custom-checkbox{padding-left: 0;}

label.custom-control-label {
    position: relative;
    padding-right: 1.5rem;
}

label.custom-control-label::before, label.custom-control-label::after{
    right: 0;
    left: auto;
}

.list-group{
    align-items: baseline;
    -webkit-align-items: baseline;
}

.close-jilsah-image{
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

/* -------------------------------------------------------------------------
  VERTICAL STEPPERS
-------------------------------------------------------------------------- */
.step { position: relative; min-height: 32px /* circle-size */ ; }
.step > div:first-child { position: static; height: 0; }
/*.step > div:last-child { margin-left: 32px ; padding-left: 16px; }*/
.step-circle { background: #4285f4; width: 32px; height: 32px; line-height: 32px; margin-top :14px; border-radius: 16px; position: relative; color: white; text-align: center; }
.step-line-ltr { position: absolute; border-left: 1px solid gainsboro; left: 1.6%; bottom: 10px; top: 42px; }
.step-line-rtl { position: absolute; border-left: 1px solid gainsboro; left: 98.4%; bottom: 10px; top: 42px; }
.step:last-child .step-line-ltr { display: none; }
.step-title { line-height: 32px; font-weight: bold; margin-right: 2.5rem; font-size: x-large;}
.step-body {margin-right: 2.5rem;}
/* -------------------------------------------------------------------------
END VERTICAL STEPPERS
-------------------------------------------------------------------------- */
