.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

.card{
    padding-left: 0;
    padding-right: 0;
}

.custom-control.custom-checkbox{padding-left: 0;}

label.custom-control-label {
    position: relative;
    padding-right: 1.5rem;
}

label.custom-control-label::before, label.custom-control-label::after{
    right: 0;
    left: auto;
}